<div class="flex justify-between flex-wrap items-center">
    <div class="w-full lg:w-5/12 lg:pr-[78px]">
      <h1
        class="text-red-500 font-bold text-[16px] mb-5 tracking-wide"
      >
        WE BUILD FOR YOU
      </h1>
      <h2
        class="text-indigo-500 text-[35px] font-bold tracking-wide"
      >
        High performance
      </h2>
      <h2
        class="font-['Inter'] text-red-500 text-4xl font-black mb-8 leading-snug"
      >
        Web & Mobile
        <br />
        Applications
      </h2>
      <p
        class="mb-4 text-indigo-500 text-lg text-opacity-75 tracking-normal"
      >
        We deliver
        <strong>high performance, trusted quality</strong> software
        systems and mobile applications at
        <strong>very optimal cost and time</strong>. Starting at low
        cost and free consultation.
      </p>
      <a
        href="#contact"
        class="inline-block mt-2 py-4 px-10 bg-[#FBBF24] rounded-full 
        text-indigo-700 text-opacity-75 hover:text-yellow-500  text-base
        hover:bg-white border-yellow-500 border rounded-3xl font-normal"
        >Contact us, we response under 2 hours.</a
      >
    </div>
    <div class="w-full pt-8 lg:w-7/12 p-8">
      <img
        src="../../../assets/images/slider1.png"
        alt=""
        class="w-full h-full object-cover"
      />
    </div>
  </div>