<section class="container mx-auto py-12 md:py-20">
    <div class="text-center px-14 lg:px-52">
        <span class="bg-blue-100 py-[5px] px-3 rounded-full text-indigo-500 text-xs font-bold">Our Projects</span>
        <h2 class="text-black text-opacity-90 font-black text-3xl md:text-4xl mb-4 mt-[9px]"
        >Check Out<br>
            Our <span class="text-indigo-500">Latest</span> Project</h2>
            <p class="text-base text-gray-700 inline-block leading-loose lg:px-1">We are always proud to share the projects 
                we have worked on, and we would gladly invite you to contact
                 us for further information. All of our projects are equally
                  important to us, no matter how big or small projects are. 
                  It is about delivering quality projects by our committed team. 
                  When a client reports being satisfied and happy with the work we have done it is 
                  because we exceeded expectations and we have our jobs well. 
                  This is our aim for every assignment we complete. Our co</p>
    </div>
    <div class="mt-12 px-14">
      <app-navigate></app-navigate> 
       <div class="flex mt-8 flex-wrap -mx-3">
           <div class="w-full md:w-1/2 lg:w-1/3 px-3 mb-11" *ngFor="let item of listPortfolio">
               <app-card-photo
               [img]="item.img"
               [title]="item.title"
               [sub]="item.sub"
               [link] = "'/portfolio/detail'"
               ></app-card-photo>
           </div>
       </div>
    </div>
   </section>