<footer class="w-full bg-white border-t border-gray-100 relative
before:hidden
lg:before:block
before:bg-gray-50
before:content-['']
before:absolute
before:top-0
before:left-[50%]
before:w-1/2
before:h-full
before:z-0
">
  <div class="container mx-auto pt-10 lg:pb-20 lg:pt-20 flex flex-wrap">
    <div class="w-full lg:w-1/2 px-4 md:px-40 lg:pl-4 lg:pr-0">
      <div class="mb-16 text-center lg:text-left">
        <a href="#" class="flex justify-center lg:block">
          <img src="../../../assets/images/gnt-logo.png" class="h-10 mb-6" alt="logo">
        </a>
        <span class="text-lg font-bold text-gray-900 opacity-80">About GENEAT</span>
        <p class="mt-4 text-base text-gray-700 inline-block lg:px-0">Founded with a belief that softwares should
           be a powerful and effective tool for entrepreneurs instead of costly, fancy and hard to understand.</p>
      </div>
      <div class="hidden lg:block">
        <small class="text-xs opacity-80">© 2022. All rights reserved.</small>
        <a href="https://www.facebook.com/geneat.vn" class="block mt-4 text-indigo-500 hover:opacity-90">
          <i class="lab la-facebook-f la-lg"></i></a>
      </div>
    </div>
    <div class="w-full lg:w-1/2 flex flex-wrap pl-4 lg:pl-12 pr-4 z-0 pt-6 md:pt-7">
        <div class="w-full lg:w-1/2">
          <span class="inline-block mb-6 text-lg font-bold text-gray-700">Services</span>
          <ul>
            <li class="mb-3 hover:opacity-90">
              <a href="#" class="text-indigo-500  font-bold
              text-lg font-normal
              "><i class="las la-laptop-code la-lg mr-1"></i>
                Software Development</a>
            </li>
            <li class="mb-3 hover:opacity-90">
              <a href="#" class="text-indigo-500  font-bold
              text-lg font-normal
              "><i class="las la-mobile la-lg mr-1"></i>
              Mobile Development</a>
            </li>
            <li class="mb-3 hover:opacity-90">
              <a href="#" class="text-indigo-500  font-bold
              text-lg font-normal
              "><i class="las la-headset la-lg mr-1"></i>
              Software Consulting</a>
            </li>
            <li class="mb-3 hover:opacity-90">
              <a href="#" class="text-indigo-500  font-bold
              text-lg font-normal
              "><i class="las la-dolly la-lg mr-1"></i>
              Software Migrations</a>
            </li>
            <li class="mb-3 hover:opacity-90">
              <a href="#" class="text-indigo-500  font-bold
              text-lg font-normal
              "><i class="las la-tools la-lg mr-1"></i>
              System Maintenance</a>
            </li>
          </ul>
        </div>
        <div class="w-full lg:w-1/2">
          <span class="inline-block mb-6 text-lg font-bold text-gray-700">Have a Questions?
          </span>
          <ul>
            <li class="mb-3 hover:opacity-90">
              <a href="#" class="text-indigo-500  font-bold
              text-lg font-normal
              "><i class="las la-phone-volume la-lg mr-1"></i>
              Hotline: +84 934 571 626</a>
            </li>
            <li class="mb-3 hover:opacity-90">
              <a href="#" class="text-indigo-500  font-bold
              text-lg font-normal
              "><i class="las la-envelope la-lg mr-1"></i>
              Sales: geneat.soft@gmail.com</a>
            </li>
            <li class="mb-3 hover:opacity-90">
              <a href="#" class="text-indigo-500  font-bold
              text-lg font-normal
              "><i class="las la-envelope la-lg mr-1"></i>
              Technical: support@geneat.vn</a>
            </li>
            <li class="mb-3 hover:opacity-90">
              <a href="#" class="text-indigo-500  font-bold
              text-lg font-normal
              "><i class="lab la-facebook-f la-lg mr-1"></i>
              fb/geneatvn</a>
            </li>
          </ul>
        </div>
        <div class="lg:hidden text-center w-full mt-16 mb-3">
          <small class="text-xs opacity-80">© 2021. All rights reserved.</small>
        </div>
      </div>
</div>
</footer>