<header class="sticky top-0 z-50 bg-white shadow-sm z-[2]">
  <div class="container mx-auto px-4 md:px-12 md:px-4">
    <nav class="flex justify-between py-2 lg:py-3 items-center">
      <a href="/" class="flex items-center">
        <img
          src="../../../assets/images/gnt-logo.png"
          class="h-9 md:h-10"
          alt="logo"
        />
        <h1 class="text-lg md:text-xl ml-1 md:ml-3">
          <span class="text-red-500 font-black font-['Inter'] inline-block pr-1">GENEAT</span>
          <span class="text-indigo-600 text-opacity-90 font-bold tracking-normal"
            >SOFTWARE</span
          >
        </h1>
      </a>
      <ul
        class="hidden lg:flex justify-between text-sm text-indigo-600 font-semibold text-sm space-x-12"
      >
        <li class="hover:opacity-80">
          <a [routerLink]="['']" class="py-3">Home</a>
        </li>
        <li class="hover:opacity-80">
          <a href="#service" class="py-3">Our Service</a>
        </li>
        <li class="hover:opacity-80">
          <a [routerLink]="['portfolio']" class="py-3">Portfolio</a>
        </li>
        <li class="hover:opacity-80">
          <a [routerLink]="['blog']" class="py-3">Blog </a>
        </li>
        <li class="hover:opacity-80">
          <a href="#about" class="py-3">About Us </a>
        </li>
        <li class="hover:opacity-80">
          <a href="#contact" class="py-3">Contact </a>
        </li>
      </ul>
      <button
        id="btn-toogle"
        class="lg:hidden border border-blue-300 rounded hover:bg-blue-300"
        (click)= "toogle()"
      >
        <i class="las la-lg la-bars py-2 px-3"></i>
      </button>
    </nav>
  </div>
</header>
<div
  id="overlay"
  class="fixed top-0 left-0 right-0 bottom-0 bg-gray-400 z-10 bg-opacity-80"
  [ngClass]="toggleNavMobile ? 'hidden -translate-x-full' : ''"
  (click)= "toogle()"
></div>
<!-- Nav mobile -->
<nav
  id="navb"
  class="p-7 pl-6 flex flex-col fixed left-0 top-0 bottom-0 bg-white z-10 z-30 duration-500 transition-opacity" 
  [ngClass]="toggleNavMobile ? 'w-0 hidden -translate-x-full' : ''"
>
  <a href="/" class="flex items-center inline-block mb-9 mr-9 md:mr-28">
    <img
      src="https://620375e3a5c4165c6c54e380--optimistic-bassi-4cd8b2.netlify.app/assets/images/gnt-logo.png"
      class="h-10"
      alt="logo"
    />
    <h1 class="text-base ml-3 font-semibold">
      <span class="text-red-500 mr-1">GENEAT</span>
      <span class="text-violet-900 opacity-90">SOFTWARE</span>
    </h1>
  </a>
  <ul class="text-indigo-600 font-light text-sm">
    <li
      class="rounded-xl hover:bg-blue-50 hover:text-indigo-900 opacity-100"
    >
      <a href="" class="tracking-wide block p-5 pb-4 pl-4">Home</a>
    </li>
    <li
      class="rounded-xl hover:bg-blue-50 hover:text-indigo-900 opacity-100"
    >
      <a href="" class="tracking-wide block p-5 pb-4 pl-4">Our Service</a>
    </li>
    <li
      class="rounded-xl hover:bg-blue-50 hover:text-indigo-900 opacity-100"
    >
      <a href="" class="tracking-wide block p-5 pb-4 pl-4">Portfolio</a>
    </li>
    <li
      class="rounded-xl hover:bg-blue-50 hover:text-indigo-900 opacity-100"
    >
      <a href="" class="tracking-wide block p-5 pb-4 pl-4">Blog </a>
    </li>
    <li
      class="rounded-xl hover:bg-blue-50 hover:text-indigo-900 opacity-100"
    >
      <a href="" class="tracking-wide block p-5 pb-4 pl-4">About Us </a>
    </li>
    <li class="rounded-xl hover:bg-blue-50 hover:text-indigo-900">
      <a href="" class="tracking-wide block p-5 pb-4 pl-4">Contact </a>
    </li>
  </ul>
  <div class="mt-auto">
    <p class="my-4 text-[13px] flex items-start">
      <span class="text-[10px] mr-1"> © </span> 2022. All rights reserved.
    </p>
  </div>
</nav>
<!-- end nav mobile -->