<div class="flex justify-between">
    <div class="text-gray-700 text-sm">
        Display <strong>1</strong> to <strong>3</strong> total of <strong>3</strong>
    </div>
    <div>
        <ul class="flex">
            <li class="border-[1px] border-gray-300 flex items-center  rounded-l-lg">
                <a class="py-1.5 px-2.5 inline-block" href="#">
                    <i class="las la-angle-left"></i>
                </a>
            </li>
            <li  class="bg-indigo-100 border-[1px] border-gray-500 text-center flex items-center"
            *ngFor="let item of [1,2];index as i">
                <a class="py-1.5 px-4 inline-block text-indigo-500 text-sm" href="{{i+1}}">{{i+1}}</a>
            </li>
            <li class="border-[1px] border-gray-300 flex items-center  rounded-r-lg">
                <a class="py-1.5 px-2.5 inline-block" href="#">
                    <i class="las la-angle-right"></i>
                </a>
            </li>
        </ul>
    </div>
</div>