<div class="navigate bg-gray-100 rounded-md">
    <ul class="flex items-center text-sm font-normal text-gray-700 py-3.5 px-4">
        <li class="mr-5
         relative before:content-['/'] before:absolute before:-right-3 before:text-black  before:text-sm
        ">
     <a href="/" class="text-sm font-bold text-indigo-500"
     >Home</a>
     </li>
     <li class="mr-6
     relative
    ">Portfolio</li>
    </ul>
</div>