<section class="container mx-auto py-20">
 <h1 class="px-4 text-4xl font-bold mt-2">Our Blog</h1>
 <div class="mt-12 lg:mt-20">
     <app-navigate></app-navigate>
 <div class="mt-5 px-4 flex flex-wrap lg:flex-nowrap">
    <div class="w-full lg:w-2/3">
        <div class="flex shadow rounded-sm mb-8 hover:-translate-y-1 duration-300 flex-wrap" *ngFor="let item of [1,2,3,4]">
                <img 
                src="../../../assets/images/loi-ich-cua-ban-hang-qua-app-thumb.jpg" alt="img"
                class="h-48 w-full lg:w-1/3 rounded-md object-cover"
                >
            <div class="w-full lg:w-2/3 px-4 py-4">
                <a href="#" class="px-3 py-1 text-indigo-500 text-xs font-semibold
                bg-slate-100 rounded-xl hover:text-opacity-90
                ">GENEATSCN</a>
               <div class="mt-3 mb-3">
                   <a href="#"
                   class="block text-indigo-500 font-bold text-2xl leading-[1.3] hover:text-opacity-90"
                   >Difficulties in selling online and advantages in selling through apps</a>
                   <small class="text-gray-500 text-xs mt-2">19/10/2021 16:15</small>
               </div>
                <p class="text-base text-gray-600">Advantages of selling through apps</p>
            </div>
        </div>
        <hr>
        <!-- pagination -->
 <div class="mt-3 px-6 lg:px-7">
    <app-pagination></app-pagination>
 </div>
    </div>
    <div class="w-full lg:w-1/3 lg:pl-8">
        <!-- category -->
       <div class="pt-2">
        <h2 class="text-2xl font-medium">Category</h2>
        <div class="py-5">
            <a href="#" class="flex justify-between px-2 text-indigo-500 mb-2">
                <span>Geneatscn</span>
                <span class="text-indigo-200">(3)</span>
            </a>
        </div>
       </div>
       <!-- popular tag -->
       <div class="mt-3">
        <h2 class="text-2xl font-medium mb-3">Popular Tag</h2>
         <a href="#" class="bg-indigo-500 pl-3 pr-[25px] py-2 rounded text-xs text-white mr-3 mb-3 inline-block
         hover:text-opacity-30
         " *ngFor="let ite of [1,2,3,4,5,6]">
             <span class="relative inline-block">#C#
                 <span class="absolute text-[9px] -top-1 -right-[14px] inline-block">(6)</span>
             </span>
         </a>
       </div>
    </div>
 </div>
 
 </div>
</section>