<section class="w-full bg-[url('/./assets/images/detail-content.jpeg')]
 object-cover bg-no-repeat bg-cover bg-bottom
">
    <div class="text-center pt-[35px] pb-12">
        <div class="mb-[22px]">
            <a href="#" class="py-[5px] px-3 bg-slate-200 rounded-full text-xs font-bold text-indigo-500 mr-3">C#</a>
            <a href="#" class="py-[5px] px-3 bg-slate-200 rounded-full text-xs font-bold text-indigo-500 mr-3">MQTT</a>
            <span class="text-sm text-black font-normal">08/09/2021 15:50</span>
        </div>
        <h2 class="text-4xl font-black text-white font-['Inter']">
            CMSContractor Website
        </h2>
    </div>
</section>
<section class="container mx-auto pt-12 pb-20">
  <div>
      <img src="/./assets/images/cms-contructor-cover.jpg" alt="anh">
  </div>
  <!-- navigate -->
  <div class="mt-6 px-4">
    <app-navigate></app-navigate>
  </div>
  <!-- end navigate -->
  <div class="max-w-2xl mx-auto mt-5 px-3">
   <div class="bg-[#EFF6FF] pt-8 pb-1 px-10 mb-3">
    <ul class="text-indigo-500 text-xl font-normal">
        <li><a href="#" class="pb-3 inline-block">A. Purpose</a></li>
        <li><a href="#" class="pb-3 inline-block">B. Technical Stack</a></li>
        <li><a href="#" class="pb-3 inline-block">C. Screenshots</a>
            <ul class="pl-12">
                <li><a href="#" class="pb-3 inline-block">1. The business information</a></li>
                <li><a href="#" class="pb-3 inline-block">2. The estimating modules</a></li>
                <li><a href="#" class="pb-3 inline-block">3. The testimonials</a></li>
            </ul>
        </li>
        <li><a href="#" class="pb-3 inline-block">D. Questions?</a></li>
    </ul>
   </div>
</div>
<div class="mb-6">
    <div class="max-w-2xl mx-auto px-3">
        <h2 class="font-['Inter'] text-3xl font-black text-black ">A. Purpose</h2>
    </div>
    <img src="https://620375e3a5c4165c6c54e380--optimistic-bassi-4cd8b2.netlify.app/images/cms/cms-contructor-cover.jpg" alt="">
    <p class="text-center text-lg mt-3 text-gray-500">CMS Contractor - Overview</p>
  </div>
  <div class="mb-6">
    <div class="max-w-2xl mx-auto px-3">
        <h2 class="font-['Inter'] text-3xl font-black text-black ">B. Technical Stack</h2>
    </div>
  </div>
  <div class="mb-6">
    <div class="max-w-2xl mx-auto px-3">
        <h2 class="font-['Inter'] text-3xl font-black text-black ">C. Screenshots</h2>
        <h3 class="text-lg font-normal text-2xl mt-6 mb-3">1. The business information</h3>
    </div>
    <img src="https://620375e3a5c4165c6c54e380--optimistic-bassi-4cd8b2.netlify.app/images/cms/cms-contructor-cover.jpg" alt="">
    <p class="text-center text-lg mt-3 text-gray-500">CMS Contractor - Overview</p>
  </div>
  <div class="mb-6">
    <div class="max-w-2xl mx-auto px-3">
        <h3 class="text-lg font-normal text-2xl mt-6 mb-3">2. The estimating modules</h3>
    </div>
    <img src="https://620375e3a5c4165c6c54e380--optimistic-bassi-4cd8b2.netlify.app/images/cms/cms-contructor-cover.jpg" alt="">
    <p class="text-center text-lg mt-3 text-gray-500">CMS Contractor - Overview</p>

  </div>
  <div class="mb-6">
    <div class="max-w-2xl mx-auto px-3">
        <h3 class="font-normal text-2xl mt-6 mb-3">3. The testimonials</h3>
    </div>
    <img src="https://620375e3a5c4165c6c54e380--optimistic-bassi-4cd8b2.netlify.app/images/cms/cms-testimonials-screenshot.jpg" alt="">
    <p class="text-center text-lg mt-3 text-gray-500">CMS Contractor - Overview</p>
  </div>
  <div class="mb-6">
    <div class="max-w-2xl mx-auto px-3">
        <h2 class="font-['Inter'] text-3xl font-black text-black ">D. Questions?</h2>
        <h3 class="font-normal text-xl mt-6 mb-3">If you have any questions, please feel free to reach us at: 
           <a href="#" class="text-indigo-500"> geneat.soft@gmail.com</a></h3>
    </div>
  </div>
  <div class="mb-6">
    <div class="max-w-2xl mx-auto px-3">
    <a
    href="#contact"
    class="w-full text-center inline-block mt-2 py-4 px-10 bg-[#FBBF24] 
    rounded-full text-indigo-700 text-opacity-75 hover:text-yellow-500 
    hover:bg-white border-yellow-500 border rounded-3xl font-normal text-xl"
    >Contact us, we response under 2 hours.</a
  >
</div>
  </div>
</section>