<section class="container mx-auto mt-14 px-8">
   <app-carousel></app-carousel>
  </section>
  <section id="service" class="container mx-auto  mt-12 lg:mt-36 pb-28">
    <div class="text-center px-2">
      <h3 class="text-red-500 text-[17px] font-bold mb-5">WHAT WE DO</h3>
      <h2
        class="font-['Inter'] text-indigo-600 opacity-90 font-black text-4xl leading-snug pb-8"
      >
        We build amazing software for your business
      </h2>
      <p class="font-normal leading-loose text-gray-600 text-lg">
        Geneat Software is a creative team of software professionals
        delivering high performance, scalable, secure technology for our
        customers worldwide. Our cutting edge software development
        services can help you optimise your resources, budget and delivery
        timelines to allow you to maintain your edge in the era of digital
        transformation.
      </p>
    </div>
    <div
      class="flex flex-wrap lg:flex-nowrap justify-between items-center mt-24 w-full"
    >
    <div class="w-full md:w-1/2 lg:w-1/3 px-1.5 mb-3" *ngFor="let service of listService">
      <a
        href="#"
        class="block text-center border rounded-md shadow-md border-gray-10 py-6 px-4 hover:shadow-lg transition duration-400"
      >
        <img
          src={{service.img}}
          alt="service"
          class="w-full h-full"
        />
        <strong
          class="text-xl text-indigo-600 text-opacity-90 inline-block pt-2.5"
          >{{service.title}}</strong
        >
      </a>
    </div>

    </div>
  </section>
  <section class="bg-gray-50 pt-20 pb-14">
    <div class="container mx-auto font-['Inter'] px-4">
      <div class="text-center">
        <h3 class="text-red-500 text-lg font-semibold pb-5">
          OUR KEY COMPETENCES
        </h3>
        <h2 class="text-gray-900 text-4xl font-black pb-5">
          Why Choose Us?
        </h2>
      </div>
      <div class="flex flex-wrap pt-7">
        <div
          class="flex items-center w-1/2 lg:w-1/3 mb-11 lg:mb-12 py-3 hover:-translate-y-1.5 duration-300"
        >
          <i
            class="las la-tachometer-alt text-4xl text-indigo-600 text-opacity-90 pl-3 pr-3 md:pl-5 md:pr-12"
          ></i>
          <strong class="inline-block text-base md:text-xl font-semibold"
            >High Quality</strong
          >
        </div>
        <div
          class="text-lg flex items-center w-1/2 lg:w-1/3 mb-11 lg:mb-12 py-3 hover:-translate-y-1.5 duration-300"
        >
          <i
            class="las la-headset text-4xl text-indigo-600 text-opacity-90 pl-3 pr-3 md:pl-5 md:pr-12"
          ></i>
          <strong class="inline-block text-base md:text-xl font-semibold"
            >Dedicated Consultation</strong
          >
        </div>
        <div
          class="text-lg flex items-center w-1/2 lg:w-1/3 mb-11 lg:mb-12 py-3 hover:-translate-y-1.5 duration-300"
        >
          <i
            class="las la-calendar text-4xl text-indigo-600 text-opacity-90 pl-3 pr-3 md:pl-5 md:pr-12"
          ></i>
          <strong class="inline-block text-base md:text-xl font-semibold"
            >Optimal Cost & Time</strong
          >
        </div>
        <div
          class="text-lg flex items-center w-1/2 lg:w-1/3 mb-11 lg:mb-12 py-3 hover:-translate-y-1.5 duration-300"
        >
          <i
            class="las la-tools text-4xl text-indigo-600 text-opacity-90 pl-3 pr-3 md:pl-5 md:pr-12"
          ></i>
          <strong class="inline-block text-base md:text-xl font-semibold"
            >Advanced Analytics</strong
          >
        </div>
        <div
          class="text-lg flex items-center w-1/2 lg:w-1/3 mb-11 lg:mb-12 py-3 hover:-translate-y-1.5 duration-300"
        >
          <i
            class="las la-lightbulb text-4xl text-indigo-600 text-opacity-90 pl-3 pr-3 md:pl-5 md:pr-12"
          ></i>
          <strong class="inline-block text-base md:text-xl font-semibold"
            >Pragmatic Solutions</strong
          >
        </div>
        <div
          class="text-lg flex items-center w-1/2 lg:w-1/3 mb-14 py-3 hover:-translate-y-1.5 duration-300"
        >
          <i
            class="las la-comments text-4xl text-indigo-600 text-opacity-90 pl-3 pr-3 md:pl-5 md:pr-12"
          ></i>
          <strong class="inline-block text-base md:text-xl font-semibold"
            >Expert Support</strong
          >
        </div>
      </div>
    </div>
  </section>
  <section class="container mx-auto py-16 pb-14 px-4" id="about">
    <div class="flex flex-wrap justify-center items-center">
      <div  
      class="w-full lg:w-1/2 relative
      mb-4
      ">
      <img src="../../../assets//images/blob.png" alt="blob" class="absolute -top-3 md:-top-2 lg:-top-44 w-40 right-2">
      <img src="../../../assets//images/blob.png" alt="blob" class="absolute bottom-0 md:-bottom-1 lg:-bottom-44 w-40 left-3">
      <img src="../../../assets/images/about.jpg" alt="about" class="w-100  mb-1 pl-11 pr-10"/>
      </div>
      <div class="w-full lg:w-1/2 lg:pr-28 pb-10">
        <h3 class="text-red-500 text-base font-semibold mb-6 mt-8">
          WHO WE ARE
        </h3>
        <h2
          class="text-indigo-600 text-opacity-90 font-black text-4xl mb-7 leading-snug font-['Inter']"
        >
          SOFTWARE Make in Vietnam
        </h2>
        <p class="font-normal text-gray-600 text-lg mb-2.5">
          GENEAT was established with the goal and mission of building a
          Vietnamese software brand to the English-speaking and European
          markets.  </p>
          <p class="font-normal text-gray-600 text-lg mb-2.5"> 
          The quality of products and services to our customers is our top
          priority. Therefore we build a young, dynamic, creative working
          environment that favors all new ideas.  </p>
          <p class="font-normal text-gray-600 text-lg mb-2.5">
           Our products and services are always updated with latest, stable, verified technology and
          architecture. Your investment will be worth every penny.  </p>
          <p class="font-normal text-gray-600 text-lg mb-2.5">
          We aims to become a trusted partner for all customers,
          especially small and medium businesses, offering great software
          consulting and development services.  </p>
          <p class="font-normal text-gray-600 text-lg mb-2.5">
          Fell free to contact us and give us a chance working with you.
        </p>
      </div>
    </div>
  </section>
  <section class="bg-gray-50 py-14 md:py-20">
    <div class="text-center container mx-auto px-1 lg:px-10">
      <h3 class="text-red-500 text-lg font-semibold mb-5">
        ACCOMPLISHMENTS
      </h3>
      <h2
      class="text-indigo-600 text-opacity-90 font-black text-4xl mb-5 leading-snug font-['Inter']"
      >
        Our Completed Projects
      </h2>
      <p class="font-normal text-gray-600 text-lg mb-2.5 leading-loose">
        We are always proud to share the projects we have worked on, and
        we would gladly invite you to contact us for further information.
        All of our projects are equally important to us, no matter how big
        or small projects are. It is about delivering quality projects by
        our committed team.
      </p>
    </div>
    <div
      class="flex justify-between items-center mt-24 md:mt-16 container mx-auto flex-wrap"
    >
    <div class="px-3 w-full md:w-1/2 lg:w-1/3 mb-6" *ngFor="let item of listAccomplishment">
     <app-card-photo [img]="item.img" [title]="item.title" [sub]="item.sub"></app-card-photo>
     </div>
    </div>
    <div class="text-center mt-5 md:mt-10">
      <a href="#"
        class="inline-block py-4 px-10 bg-[#FBBF24] text-indigo-600 
        text-opacity-90 hover:text-yellow-500 
        hover:bg-white border-yellow-500 border rounded-3xl text-base font-normal"
      >
        View our portfolio</a
      >
    </div>
  </section>
  <section class="bg-white py-20">
    <div class="text-center container mx-auto lg:px-4">
      <h3 class="text-red-500 text-base font-semibold mb-5">
        LATEST NEWS
      </h3>
      <h2
      class="text-indigo-600 text-opacity-90 font-black text-4xl mb-3 leading-snug font-['Inter']"
      >
      Insights About Our Business
      </h2>
      <p class="font-normal text-gray-600 text-lg mb-2.5 leading-loose ld:leading-relaxed">
        Check out the latest news about our clients, employees, partners and projects below. If you’re interested and would like 
        some additional information on any of our news articles you can always contact us. Our doors are always open.
      </p>
    </div>
    <div
      class="flex justify-between items-center mt-16 container mx-auto flex-wrap"
    >
   
     <div class="px-3 w-full md:w-1/2 lg:w-1/3 mb-6"
     *ngFor="let business of listBussiness"
     >
     <app-card-photo [img]="business.img" [title]="business.title" [sub]="business.sub"></app-card-photo>
     </div>
 
    </div>
  </section>
  <section
    class="bg-[url('https://620375e3a5c4165c6c54e380--optimistic-bassi-4cd8b2.netlify.app/assets/images/elements/intersect.svg')] 
    bg-no-repeat bg:center bg: lg:bg-contain py-20"
  >
    <div class="text-center container mx-auto px-8 md:px-0 lg:px-[150px]">
      <h2
        class="text-indigo-600 text-opacity-90 font-black text-4xl mb-6"
      >
        What Our Clients Say
      </h2>
      <p class="font-normal text-gray-600 text-lg leading-relaxed">
        We pride ourselves on providing an exceptional service to our
        clients, but you don’t just have to take our word for it. Read
        what our clients have to say about working with us.
      </p>
    </div>
    <div
      class="flex justify-between items-center mt-16 container mx-auto flex-wrap px-1"
    >
    <div class="px-3 w-full md:w-1/2 lg:w-1/3 mb-6" 
     *ngFor="let person of listClientSay"
    >
      <div
      class="border border-gray-10 p-8  rounded shadow bg-white hover:shadow-lg duration-500 hover:-translate-y-1"
    >
      <div
        class="w-40 border-8 border-slate-200 mx-auto rounded-full overflow-hidden"
      >
        <img
          src={{person.img}}
          alt=""
          class="w-full h-full object-cover"
        />
      </div>
      <div class="text-center">
        <h3 class="mt-4 text-[22px] lg:text-2xl font-medium">
          {{person.fullname}}
        </h3>
        <p class="my-3 text-base text-gray-500">{{person.job}}</p>
      </div>
      <div
        before="&#xf10d;"
        after="&#xf10e;"
        class="text-[16px] text-justify font-normal px-4 pb-2 relative
         before:content-[attr(before)] 
         before:text-indigo-600 after:text-opacity-90 before:text-2xl before:font-['Line_Awesome_Free'] 
         before:font-semibold before:absolute before:-top-3 before:-left-2 after:content-[attr(after)] 
         after:text-indigo-600 after:text-opacity-90 after:text-2xl after:font-['Line_Awesome_Free'] 
         after:font-semibold after:absolute after:-right-3 after:-bottom-1"
      >
      {{person.message}}
      </div>
    </div>
    </div>
    </div>
  </section>
  <section
  class="bg-[url('/./assets/images/image.png')] 
  bg-no-repeat bg-cover bg-top py-20"
  id="contact"
>
  <div class="container mx-auto pt-14 pb-14">
 <div class="max-w-2xl mx-auto">
  <div class="text-center px-8 md:px-0">
    <h2
    class="text-indigo-600 text-opacity-90 font-black text-3xl lg:text-4xl mb-5"
  >
  Having an idea? Tell us and immediately start
  </h2>
  <p class="font-normal text-gray-600 text-lg mb-8">
    Send us an email to  <a href="mailto:geneat.soft@gmail.com"
    class="text-indigo-400 hover:opacity-90"
    >geneat.soft@gmail.com</a> or fill this form, we will reply you within 1 hour
  </p>
  </div>
  <form action="" class="p-4 bg-white mx-8 md:mx-20 rounded-lg">
   <div class="mb-3">
    <label class="block text-gray-900 text-base font-normal" for="contact">
      Your contact:
    </label>
    <input class="border rounded w-full py-2 px-3 bg-gray-50 font-bold py-4 pl-4
    text-gray-900 leading-tight focus:outline-none" 
    name="contact" type="text" placeholder="Your name, email, phone number or anything we can reach you.">
   </div>
   <div class="mb-4">
    <label class="block text-gray-900 text-base font-normal" for="idea">
      Your great idea:
    </label>
    <textarea name="idea" class="border rounded w-full py-2 px-3 bg-gray-50 text-black
    text-gray-700 leading-tight" rows="5"></textarea>
   </div>
   <p class="mb-1 text-[13px] text-gray-500 opacity-90 leading-6">Tell us any of your great, incredible ideas, we're really happy to hear all of them.</p>
   <button type="submit" class="block w-full bg-indigo-500 p-3 rounded hover:bg-indigo-600
   text-white text-xs font-bold hover:-translate-y-1 duration-300
   ">Send</button>
  </form>
 </div>
  </div>
</section>