<a href="{{link ? link : '#'}}"
class="bg-white shadow
border border-gray-10 p-3 hover:shadow-lg transition duration-500 rounded-md block" 
>
<img
  src="{{img}}"
  alt="anh"
  class="w-full h-full object-cover rounded-xl"
/>
<strong
  class="text-xl text-indigo-600 text-opacity-90 inline-block pt-2.5"
  >{{title}}</strong
>
<p class="mt-2 text-base text-gray-500 truncate">
    {{sub}}
</p>
</a>